.explore-category {
  color: var(--clr-text-primary);
  font-size: var(--fs-800);
  text-align: center;
  font-weight: var(--fw-normal);
  font-family: var(--ff-heading);
}
.exploree {
  padding: 4rem 2rem;
}

.section-heading {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  gap: 2rem;
}

.body-text p {
  margin-top: 1rem;
  font-family: var(--ff-heading);
  font-size: var(--fs-400);
  font-weight: var(--fw-normal);
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.category-card {
  background: var(--rgba-black-overlay);
  border: none;
  border-radius: 22px;
  min-height: 600px;
  overflow: hidden;
  transition: 0.35s;
  cursor: pointer;
}

.category-card:hover {
  transform: translateY(-8px);
  border-color: var(--clr-gold);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.35);
}

.category-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  background: var(--clr-surface-muted);
}

.category-content {
  padding: 1.5rem;
  height: 340px;
  display: flex;
  flex-direction: column;
}

.category-content h3 {
  color: white;
  margin-bottom: 0.75rem;
  font-size: 1.35rem;
}

.category-content p {
  color: #a9a9a9;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  min-height: 55px;
}

.category-content button:hover {
  gap: 1rem;
}

@media (max-width: 1021px) {
  .category-card {
    height: 680px;
  }
  .category-content {
    height: 420px;
  }
}

@media (max-width: 480px) {
  .category-card {
    height: 700px;
  }
  .category-content {
    height: 440px;
  }
  .body-text {
    text-align: center;
  }
}
